/*#work-responses {
  display: none;
}

#fun-responses {
  display: none;
}*/

/*#lucky-responses {*/
  /*display: none;
}

#unlucky-responses {
  display: none;

}*/

 #hangman-2, #hangman-3, #hangman-4, #hangman-5, #hangman-6 {
  display: none;
}
